*{
    margin: 0px;
    padding: 0px;
    
}
#container{
    display: flex;
    flex-direction: column;
    background-image: url("imagenes/FondoGrande.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-size: cover; /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
}

/*-----------------------------------------------------------------------------------------------------
            SCROLL 
-----------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
    background-color: #4080FF;
    background-image: -webkit-linear-gradient(90deg,rgba(255, 255, 255, .2) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, .2) 50%,rgba(255, 255, 255, .2) 75%,transparent 75%,transparent)
}

/*-----------------------------------------------------------------------------------------------------
            ERROR 
-----------------------------------------------------------------------------------------------------*/
#errorContainer{
    margin: 0;
    padding: 0px;
    font-family: arial;
    height: 700px;

    background-image: url("imagenes/FondoSinVentanas.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box{
    text-align: center;
    position: relative;
}

#errorMessage404{
    font-family: 'Actor', sans-serif;
    width: 250px;
    height: 80px;
    line-height: 80px;
    color:#F0746A;
    background-color: #fff;
    font-size: 280%;
    position: absolute;
    top:400px;
    left:40%;
    text-transform: capitalize;
    animation: moving 8s linear infinite;
  -webkit-animation: moving 8s linear infinite;
  -moz-animation: moving 8s linear infinite;
  -o-animation: moving 8s linear infinite;
  
    transform-origin: 50% -400%;
  -webkittransform-origin: 50% -400%;
  -moz-transform-origin: 50% -400%;
  -o-transform-origin: 50% -400%;
}

.box div:before{
    font-family: 'Actor', sans-serif;
    content: "";
    width: 25px;
    height: 25px;
    background-color:#fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    left:45%;
    top:-350px;
}

.box div:after{
    content: "";
    width: 3px;
    height: 335px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 50%;
    top: -330px;
}

.box p{
    position: absolute;
    top:560px;
    left:38%;
    font-weight: 700;
    color:#fff;
    width: 300px
}

.box p span{
  display: block;
  font-size:300%
}

@keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

@-webkit-keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

@-moz-keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

@-o-keyframes moving{
    0%,100%{
        transform: rotate(0)
    }
    25%{
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(-3deg)
    }
}

/*-----------------------------------------------------------------------------------------------------
            HEADER 
-----------------------------------------------------------------------------------------------------*/

#header{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    padding: 7px 0px 7px 0px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    #headerLogo{        
        order: 0;
        flex: 3 1 auto;
        align-self: auto;
        display: flex;
        justify-content: flex-end;
    }
        #logoHeader{
            height: 50px;
            padding-left: 7px;
        }
    #divLogInButton{
        order: 0;
        flex: 3 1 auto;
        align-self: auto;
        width: 5px;
        padding-right: 18px;
        display: flex;
        justify-content: flex-end;
    }
        #logInButton{
            position: relative;
            font-family: 'Actor', sans-serif;
            color:white;
            width: 110px;
            height: 30px;
            border: 3px;
            background: #4080FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            cursor: pointer;
        }
/*-----------------------------------------------------------------------------------------------------
            WELCOME
-----------------------------------------------------------------------------------------------------*/
    
#welcomeLofche{
    height: 670px;
    width: 180px;
    padding: 13px 0px 0px 30px;
    margin-top: 70px;
}
    #logoWelcome{
        height: 150px;  
    }

#containerWelcome{
    font-family: 'Comfortaa', cursive;
    color:white;
    font-size: 14px;
    line-height: 23px;
    padding-left: 5px;
    padding-top: 10px;
}

/*-----------------------------------------------------------------------------------------------------
            FOOTER
-----------------------------------------------------------------------------------------------------*/

#footer{
    position: fixed;
    width: 100%;
    bottom: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-size: cover;
    display: flex;
    padding: 4px 18px 4px 18px;    
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
}
    #logoFooter{
        display: flex;
        flex-direction: row;
        padding-right: 6px;
        order: 0;
        flex: 0 2 auto;
        align-self: auto;
    }
        #imgFooter{
            height: 50px;
        }

    #copyright{
        color: #24255E;
        font-family: 'Comfortaa', cursive;
        font-size: 10px;
        order: 0;
        flex: 5 0 auto;
        align-self: auto;        
        display: flex;   
        justify-content: flex-start;
    }
    #containerSocialMedia{
        margin-right: 30px;
        display: flex;
        align-items: center;
    }
        .social-media{
            margin: 3px;
        }
        #socialMedia1, #socialMedia2, #socialMedia3 {
            height: 25px;     
        }

/*-----------------------------------------------------------------------------------------------------
            LOGIN
-----------------------------------------------------------------------------------------------------*/

#containerLogIn{
    height: 755px;
    display: flex;
    justify-content: center;

    background-image: url("imagenes/FondoSinVentanas.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    #modalLogIn{
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 25px;
        margin-top: 120px;
        font-family: 'Comfortaa', cursive;
        color: #24255E;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
    }
    #email_login , #password_login{
        width: 100%;
        padding: 10px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #212157;
        border-radius: 10px;
        background: #FFFFFF;
    }
    .text{
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: left;
    }
    #next_button{
        position: relative;
        font-family: 'Actor', sans-serif;
        color:white;
        width: 250px;
        height: 30px;
        border: 3px;
        background: #4080FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        margin-top: 40px;
        margin-bottom: 25px;
        cursor: pointer;
    }
    #registerHere{
        cursor: pointer;
        font-size: 11px;
    }

/*-----------------------------------------------------------------------------------------------------
            SIGNIN
-----------------------------------------------------------------------------------------------------*/

#containerSignIn{
    height: 830px;
    display: flex;
    justify-content: center;

    background-image: url("imagenes/FondoSinVentanas.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    #modalSignIn{
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 25px;
        margin-top: 120px;
        font-family: 'Comfortaa', cursive;
        color: #24255E;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
    }
        #name , #email , #password , #district{
            width: 100%;
            padding: 10px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #212157;
            border-radius: 10px;
            background: #FFFFFF;
        }

        .textRegisterWith{
            margin-top: 30px;
            margin-bottom: 20px;
        }

        #btngoogle , #btnFacebook{
            margin: 0px 7px 15px 7px;
            border: 0px;
            background-color: Transparent;
            cursor: pointer;
        }
            .social-media-logo{
                height: 40px;  
            }
        #btnRegister{
            position: relative;
            font-family: 'Actor', sans-serif;
            color:white;
            width: 250px;
            height: 30px;
            border: 3px;
            background: #4080FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            cursor: pointer;
        }
        #errorMessage{
            font-size: 11px;
            color: red;
        }

#modalSignInRedirecting{
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 300px;
        padding: 25px;
        margin-top: 120px;
        font-family: 'Comfortaa', cursive;
        color: #24255E;
        font-size: 18px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        text-align: center;
        padding-top: 80px;
        line-height: 30px;
}
#btnRedirecting{
        position: relative;
        font-family: 'Actor', sans-serif;
        color:white;
        height: 30px;
        border: 3px;
        background: #4080FF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        margin-top: 40px;
        margin-bottom: 25px;
        cursor: pointer;
}
/*-----------------------------------------------------------------------------------------------------
            FEED
-----------------------------------------------------------------------------------------------------*/

#containerLofche{
    height: 3000px;
    display: flex;
    justify-content: center;

    background-image: url("imagenes/FondoSinVentanas.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
    #feedLofche{
        display: flex;
        flex-direction: column;
        padding: 0px 25px 25px 25px;
        margin-top: 120px;
        width: 800px;
    }
    #publicationFeed{
        display: flex;
        flex-direction: column;
        padding: 15px 25px 25px 25px;
        margin: 20px;
        font-family: 'Comfortaa', cursive;
        color: #24255E;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
        #textPublication{
            width: 100%;
            padding: 30px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 2px solid #212157;
            border-radius: 10px;
            background: #FFFFFF;
        }
    
        #butonsPublication{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 10px;
        }
            #btnPublish, #btnCancel, #buttonSave, #cancelEditCrud{
            font-family: 'Actor', sans-serif;
            color:white;
            width: 110px;
            height: 30px;
            border: 3px;
            background: #4080FF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 6px;
            cursor: pointer;
            }

#containerPublication{
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 20px;
    font-family: 'Comfortaa', cursive;
    color: #24255E;
    font-size: 13px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
    #crudContainer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
        #imgOptionsDots{
            width: 30px;
        }
        #btnCrudOptions{
            border: 0px;
            background-color: Transparent;
            cursor: pointer;
        }
            .dropdownContentEdit {
                display: none;
                position: absolute;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                z-index: 1;
                background-color: #749ef0;
                border-radius: 6px;
            }
            .dropdownContentEdit button {
                padding: 12px 16px;
                display: block;
                cursor: pointer;
                font-family: 'Actor', sans-serif;
                color: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                font-size: 15px;
                border-radius: 6px;
                border: 0px;
                background-color: Transparent;
                cursor: pointer;
            }
            /* Change color of dropdown links on hover */
            .dropdownContentEdit button:hover {background-color: #ee8078;}
                        
            /* Show the dropdown menu on hover */
            #crudContainer:hover .dropdownContentEdit {display: block;}

    .textBoxStyle{
        display: flex;
        flex-direction: column;
    }
        #containerNameAndEdit{
            display: flex;
            justify-content: space-between;
        }
            .namePublication{
                font-size: 24px;
                margin-bottom: 10px;
            }
            .edit{
                display: flex;
                flex-direction: column;
                margin-top: 10px;
                text-align: justify;
            }
            #postEditCrud{
                width: 100%;
                padding: 5px 15px 15px 15px;
                box-sizing: border-box;
                border: 2px solid #212157;
                border-radius: 10px;
                font-family: 'Comfortaa', cursive;
                color: #24255E;
                font-size: 13px;
            }
            #buttonsSaveAndEdit{
                display: flex;
                justify-content: space-between;
                padding-top: 20px;
            }
/*-----------------------------------------------------------------------------------------------------
            MEDIAQUERY
-----------------------------------------------------------------------------------------------------*/

@media all and (max-width: 685px){
    #container{background-image: url("imagenes/FondoChico.jpg");}
}

@media all and (min-width: 720px){
    #welcomeLofche{padding-left: 50px;}
}

@media all and (min-width: 850px){
    #welcomeLofche{padding-left: 70px;}
}

@media all and (min-width: 1000px){
    #welcomeLofche{width: 270px; padding-left: 90px;}
    #containerWelcome{font-size: 17px; line-height: 25px;}
    #modalLogIn , #next_button , #modalSignIn , #btnRegister{width: 300px;}
}

/*-----------------------------------------------------------------------------------------------------
            HEADER NAVBAR + HOVER USUARIO MENU
-----------------------------------------------------------------------------------------------------*/
#headerFeed{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    padding: 7px 0px 7px 0px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    #notificationHeaderFeed, #friendsHeaderFeed, #inboxHeaderFeed{
        height: 30px;
    }

    #logoHeaderFeed{
        height: 50px;
        padding-left: 7px;
    }

    /* El contenedor <div> - needed to position the dropdown content */
    #headerPerfilButton{
        position: relative;
        display: inline-block;
    }
            /* Dropdown Button */
            #btnHeaderOptions{
                font-family: 'Actor', sans-serif;
                color:white;
                width: 60px;
                height: 30px;
                border: 3px;
                background: #4080FF;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 6px;
                cursor: pointer;
            }

            /* Dropdown Content (Hidden by Default) */
            .dropdownContent {
                right: 0;
                display: none;
                position: absolute;
                min-width: 120px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                z-index: 1;
                background-color: #ee8078;
                border-radius: 6px;
            }
            
            /* Links inside the dropdown */
            .dropdownContent a {
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                cursor: pointer;
                font-family: 'Actor', sans-serif;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                color: white;
                font-size: 15px;
                border-radius: 6px;
            }
            
            /* Change color of dropdown links on hover */
            .dropdownContent a:hover {background-color: #749ef0;}
            
            /* Show the dropdown menu on hover */
            #headerPerfilButton:hover .dropdownContent {display: block;}
            